:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 

body {
  margin: 0;
}

/* NAVBAR CSS */
.nav-link{
  margin-left: 40px;
}


/* SUPPORT HERO */
#supportHero {
  background-color: rgb(56, 126, 209);
  color: #fff;
}

#supportHero a {
  color: #fff;
}

#supportWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}

#supportHero input {
  padding: 20px 50px;
  width: 100%;
  font-size: 15px;
  border-radius: 10px;
  border: none;
}